<launch>
    <include file="$(find speech)/launch/speech.launch"/>
    <include file="$(find visual_ui)/launch/visual_ui.launch"/>
    <include file="$(find db_adapter)/launch/db_adapter.launch"/>
    <include file="$(find locator)/launch/locator.launch"/>
    <include file="$(find behaviour)/launch/behaviour.launch"/>
</launch>
