body {
    background-color: rgb(188, 221, 231);
}

h1 {
    text-align: center;
    color: rgb(75, 144, 165);
    font-size:2em;
}

button {
    color: rgb(75, 144, 165);
    border-radius: 30px;
    border: none;
    text-align: center;
    font-style: italic;
    cursor: pointer;
    font-size: 1em;
}

div {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail{
    min-width: 65px;
}

#textbox{
    visibility: hidden;
}

#startDiv{
    visibility: visible;
}


#selector{
    color:#e06055;
}

#result_table{
    display: block;
    max-height: 60vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
background-color: transparent;
border: none;
}

.blinking{
	animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
	0%{		color: #e06055;	}
	50%{	color: transparent;	}
	100%{	color: #e06055;	}
}

.speech-bubble {
	position: absolute;
	background: white;
	border-radius: .4em;
    width: 70%;
    top: 5vh;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2000;
    box-shadow: 2px 2px 5px grey;
    font-size: 30px;
    padding: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 0.688em solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -0.687em;
	margin-bottom: -0.687em;
}