body {
    background-color: rgb(188, 221, 231);
}

h1 {
    text-align: center;
    color: rgb(75, 144, 165);
    font-size:2em;
}

button {
    color: rgb(75, 144, 165);
    border-radius: 30px;
    border: none;
    text-align: center;
    font-style: italic;
    cursor: pointer;
    font-size: 1em;
}

div {
    text-align: center;
}

img {  
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
     
}

#textbox{
    visibility: hidden;
}

#startDiv{
    visibility: visible;
}

#searchResults{
    visibility: hidden;
}


