body {
    background-color: rgb(188, 221, 231);
}

h1 {
    text-align: center;
    color: rgb(75, 144, 165);
    font-size:2em;
}

button {
    color: rgb(75, 144, 165);
    border-radius: 30px;
    border: none;
    text-align: center;
    font-style: italic;
    cursor: pointer;
    font-size: 1em;
}

div {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}


#textbox{
    visibility: hidden;
}

#startDiv{
    visibility: visible;
}


#selector{
    color:#e06055;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
background-color: transparent;
border: none;
}

.blinking{
	animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
	0%{		color: #e06055;	}
	50%{	color: #ff0000;	}
	100%{	color: #e06055;	}
}

.speech-bubble {
	position: absolute;
	background: white;
	border-radius: .4em;
    width: 15em;
    height: 10em;
    top: 10em;
    right: 5em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -25px;
	margin-left: -50px;
}